@use 'common/styles/variables/colors';
@use 'common/styles/variables/other';

.aside {
  display: flex;
  flex-direction: column;
  width: 280px;
  border-radius: var(--border-radius-main);
  background-color: var(--surface-bg);
}

.aside-header {
  padding: 16px 24px 12px;
}

.logo {
  pointer-events: none;
  user-select: none;
}

.aside-main {

}

.main-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  list-style: none;
}

.aside-footer {
  margin-top: auto;
  margin-bottom: 0;
  padding: 22px 8px 24px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 40px;
  padding: 0 20px;
}

.profile-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.profile-name {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.25px;
  color: var(--text-color-main);
}

.profile-badge {
  padding: 0 6px;
  border-radius: 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.5px;
  color: var(--text-color-main);
  background-color:#FFCD71;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 12px 0 0;
  padding: 0;
  list-style: none;
}