@use 'common/styles/variables/colors';
@use 'common/styles/variables/other';
@use 'common/styles/mixins/custom-scrollbar' as scrollbar;

.aside {
  padding: 16px 0 16px 16px;
}

.aside-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  min-width: 280px;
  height: 100%;
  border-radius: var(--border-radius-main);
  background-color: var(--surface-bg);
  transition: .3s;
}

.aside-inner.is-collapsed {
  width: 56px;
  min-width: 56px;
}

.aside-header {
  display: flex;
  padding: 16px 24px 12px;
  transition: .3s;
}

.aside-inner.is-collapsed .aside-header {
  padding: 16px 17px 12px 18px;
}

.logo-link {
  position: relative;
  width: 148px;
  height: 40px;
  transition: width 0.3s ease;
  text-decoration: none;
}

.logo,
.logo-sm {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  transition: 0.3s;
  object-fit: contain;
  object-position: left center;
}

.logo-sm {
  opacity: 0;
}

.aside-inner.is-collapsed .logo-link {
  width: 21px;
}

.aside-inner.is-collapsed .logo {
  opacity: 0;
}

.aside-inner.is-collapsed .logo-sm {
  opacity: 1;
}

.main-search {
  margin: 0 8px;
  padding: 0 12px;
  transition: .3s;
}

.aside-inner.is-collapsed .main-search {
  padding: 0;
}

.main-search label span {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.main-search label {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0 16px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  cursor: text;
  transition: .3s;

  &:hover {
    border-color: var(--border-color-hover);
  }
  &:focus-within {
    border-color: var(--border-color-active);
    box-shadow: 0 0 0 3px var(--color-light-orange);
  }
}

.aside-inner.is-collapsed .main-search label {
  padding: 0 12px;
  cursor: pointer;
}

.main-search label svg {
  width: 16px;
  min-width: 16px;
  aspect-ratio: 1;
  color: var(--icon-color-main);
  transition: .3s;
}

.main-search label:hover svg,
.main-search label:focus-within svg {
  color: var(--icon-color-hover);
}

.main-search label input {
  width: 100%;
  padding: 0;
  border: 0;
  outline: none;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  letter-spacing: -0.25px;
  color: var(--text-color-main);
  background-color: transparent;
}

.main-search label input::placeholder {
  color: var(--text-color-third);
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 20px 8px 0;
  list-style: none;
  overflow-x: hidden;
  @include scrollbar.custom-scrollbar;
}

.sidebar-dropdown-list-wrap {
  display: grid;
  grid-template-rows: 0fr;
  transition: .3s;
}

.sidebar-dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 0 0 16px;
  list-style: none;
}

.sidebar-dropdown-list-wrap > .sidebar-dropdown-list {
  overflow: hidden;
  min-height: 0;
}

.sidebar-item-wrap.is-open .sidebar-dropdown-list-wrap {
  grid-template-rows: 1fr;
}

.aside-footer {
  margin-top: auto;
  margin-bottom: 0;
  padding: 22px 8px 24px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  max-height: 50px;
  border-radius: var(--border-radius-button);
  text-decoration: none;
  transition: .3s;

  &:hover {
    background-color: var(--sidebar-color-hover);
  }
  &:active {
    background-color: var(--sidebar-color-active);
  }
}

.aside-inner.is-collapsed .profile {
  padding: 4px;
  max-height: 40px;
  border-radius: 50%;
}

.profile-avatar {
  aspect-ratio: 1;
  width: 32px;
  min-width: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  margin-bottom: 4px;
  max-width: 300px;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.25px;
  color: var(--text-color-main);
  transition: .3s;
}

.aside-inner.is-collapsed .profile-name {
  max-width: 0;
  opacity: 0;
}

.profile-badge {
  padding: 0 6px;
  max-width: 300px;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.5px;
  color: var(--text-color-main);
  background-color:#FFCD71;
  transition: .3s;
}

.aside-inner.is-collapsed .profile-badge {
  max-width: 0;
  opacity: 0;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 12px 0 0;
  padding: 0;
  list-style: none;
}

.collapse-button {
  position: absolute;
  right: -12px;
  bottom: 30%;
  height: 28px;
  aspect-ratio: 1;
  padding: 0;
  border: 0;
  border-radius: var(--border-radius-button);
  outline: none;
  cursor: pointer;
  background-color: var(--color-off-white);
  box-shadow: var(--shadow-gamma);
}

.collapse-button svg {
  height: 16px;
  aspect-ratio: 1;
  color: var(--icon-color-second);
  transform: rotate(90deg);
  transition: .3s;
}

.collapse-button.is-hidden svg {
  transform: rotate(-90deg);
}

.collapse-button:hover svg {
  color: var(--icon-color-hover);
}
