@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 16px;
  height: 100vh;
  padding: 16px;
  font-family: 'Inter', sans-serif;
  background-color: var(--main-bg);
}
