@use 'common/styles/variables/colors';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 16px;
  height: 100vh;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  background-color: var(--main-bg);
}
