.new-deals {
  grid-column: span 4;
}

.new-deals .widget-title {
  margin-bottom: 24px;
}

.new-deals-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.new-deals-list li {

}

.new-deals-list a {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  padding: 2px 16px 2px 12px;
  border-radius: var(--border-radius-main);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: var(--text-color-hover);
  background-color: var(--sidebar-color-hover);
  transition: .3s;

  &:hover {
    background-color: var(--sidebar-color-active);
  }
}

.new-deals-list a svg {
  width: 24px;
  min-width: 24px;
  aspect-ratio: 1;
  color: var(--icon-color-hover);
}
