.revenues {
  grid-column: span 4;
}

.revenues .content-title {
  margin: 0 0 24px;
}

.revenues-percent {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -2px;
  color: var(--text-color-main);
}

.revenues-percent svg {
  height: 32px;
  aspect-ratio: 1;
  color: #25CD25;
}

.revenues-descr {
  margin-top: 0;
  margin-bottom: 66px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: var(--text-color-second);
}
