:root {
  --main-bg: #F6F6F3;
  --surface-bg: #fff;

  --sidebar-color-hover: #FFF7E8;
  --sidebar-color-active: #fff1b6;

  --text-color-main: #131313;
  --text-color-hover: #734A00;

  --icon-color-main: #7D7D7D;
  --icon-color-hover: #FFA500;
}